html, body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}

.container-height {
    height: 100vh;
}


a {
    color: rgb(31, 31, 31);
    text-decoration: none;
}

h2 { font-weight: 600; }

[v-cloak] { display: none !important; }

.display-none { display: none; }


canvas {
    /* Fixes an issue in which the canvas doesn't shrink when it should */
    width: 100% !important;
}

button {
    &, select {
        padding: 6px 15px;
        border-radius: 15px;
        border: none;
        position: relative;
        background: transparent;

        box-shadow: 2px 2px 8px -4px rgba(0, 0, 0, 0.5);
        color: white;
    }

    &:active, .card-delete:active {
        transform: scale(0.8);
    }

    &:disabled, button:disabled:hover {
        cursor: auto;
        box-shadow: none;
        background-color: rgb(231, 231, 231);
        color: rgb(173, 173, 173);
    }
}

button:focus:not(.focus-visible), select:focus:not(.focus-visible),
[tabindex]:focus:not(.focus-visible) {
    outline: none;
}

.cover-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.black-color {
    color: rgb(58, 58, 58);
}

.black-back {
    background-color: rgb(58, 58, 58);
}

.main-font {
    font-family: 'Poppins', sans-serif;
}

.copy-font {
    font-family: Arial, Helvetica, sans-serif;
}

// GRADIENT

.gradient {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:disabled, &:hover { z-index: auto; }
    &:disabled:before { content: none; }
    
    &:before {
        content: ' ';
        white-space: pre;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600%;
        z-index: -1;

        background-image: url(./assets/svg/gradient.svg);
        background-size: cover;
        
        transition: transform 0.8s ease-out;
    }

    &-contain:before { background-size: contain; }
}

.gr {
    &-green:before { transform: translateY(0%); }
    &-orange:before { transform: translateY(-40%); }
    &-red:before { transform: translateY(-80%); }
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fade-in {
    animation: fade-in .5s forwards;
}


@media (max-width: $breakpoint-phone) {
    #header-gradient.gr-orange:before {
        transform: translateY(-30%);
    }

    #header-gradient.gr-red:before {
        transform: translateY(-60%);
    }
}

@media (hover: hover) {
    button:hover, select:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }

    a:hover {
        color: lightseagreen;
        text-decoration: underline;
    }
}